/*Crystal pictures sytle*/

.crystalPics{

    width: 100%;
    height: 300px;;
}
/*Main body conainer*/
.main-container{
    width: 968px;
    margin: 5%;
}
/*Crystal Picture container */
#container{

    width: 100%;
    margin: 5% 25% 0% 25%;
    border: 5px;
    border-style: outset;
    border-color: blue;
}
.card-body{
    font-size: 20px;
    height:100px;
    margin: 5%;
}
/*Winning Number Card*/
#Number{

    margin-top: 42px;
}
/*Guess, Wins and Loses card margin*/
#guessCounter{
    margin-top: 80px;
    margin-left: 47px;
}
.crystalName{

    text-align: center;
    border: 5px;
    border-style: outset;
    border-color: blue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: blue;
    margin-left: 25%;
    width:100%;
}

